```{=html}
<ul id="quarto-conference">
    <% for (const item of items) { %>
        <li class="quarto-publication">
            <%= item.author %> <% if (item.date) { %>(<%= item.date %>)<% } %>. <i><%= item.title %></i>. <%= item.conference %>, <%= item.location %>.
            <% if (item.isbn) { %>ISBN: <%= item.isbn %>.<% } %>
            <% if (item.note) { %>
                </br> <i> Note: <%= item.note %> </i>    
            <% } %>

            <div class="quarto-labels">
                <% if (item.labels) { %>
                    <% for (const label of item.labels) { %>
                        <span class="quarto-label"><a href="<%= label.url %>"> <%= label.name %> </a></span>
                    <% } %>
                <% } %>
            </div>
        </li>
    <% } %>
</ul>
```
