```{=html}
<div class="table-responsive">
    <table class="table table-hover">
        <thead style="white-space: nowrap">
        <tr >
            <th scope="col">Course</th>
            <th scope="col">Degree</th>
            <th scope="col">Entity</th>
            <th scope="col">ECTS</th>
            <th scope="col">End Date</th>
        </tr>
        </thead>
        <tbody>
            <% for (const item of items) { %>
                <tr>
                    <td><%= item.course %></td>
                    <td><%= item.degree %></td>
                    <td><%= item.entity %></td>
                    <td><%= item.credits %></td>
                    <td ><%= item.date %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
  </div>
```
